* {
    margin: 0px;
    padding: 0px;
}

#one {
    color: red;
    border: 2px solid green;
    background-color: black;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

#two {
    border: 2px solid yellow;
    height: 350px;
    padding: 25px;
    background-color: wheat;
}

img {
    width: 150px;
    height: 150px;
    margin-right: 15px;
}

#three {
    background-color: lightblue;
    border: 1px solid black;
}

.vin {
    margin-right: 30px;
}